.login {
  border-top: solid 3px #000;
  margin: 20px;
  padding-top: 20px;

}

.login .good-message {
  background-color: #ccffff;
  border: solid 1px #00cccc;
}

.login .bad-message {
  background-color: pink;
  border: solid 1px red;
}

.login .message {
  margin: 10px;
  padding: 10px;
}
