.what-i-do {
  margin: 0 auto;
  overflow: auto;
  padding: 50px 0;
  width: 90%;
}

.particular-thing {
  background-color: pink;
  float: left;
  height: 200px;
  outline: solid 1px red;
  width: 25%;
}
