/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #333;
}


nav {
  overflow: auto;
  padding: 17px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav li {
  float: right;
  font-family: Helvetica, Verdana, sans-serif;
  margin: 5px 10px 0 10px;
  text-transform: uppercase;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav .logo {
  background-image: url('logo-jesseshowalter-white.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  color: transparent;
  float: left;
  height: 34px;
  margin: 0;
}


/* Hero */

.hero {
  background-image: url('jesse-jump.jpg');
  background-size: cover;
  height: 700px;
  position: relative;
  z-index: 1;
}

.hero:after {
  content: '';
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}


.hero-messaging {
  color: #FFF;
  font-family: serif;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  width: 70%;
}

.hero-messaging h1 {
  font-size: 3.7em;
}

.hero-messaging p {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 20px 0;
}

.hero-messaging a {
  border: solid 2px rgb(220, 197, 102);
  color: #FFF;
  display: inline-block;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1.3em;
  padding: 20px 40px;
  text-transform: uppercase;
  text-decoration: none;
}
